<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Essay Analysis Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
      .sentiment {
        font-weight: bold;
      }
      .positiveSentiment {
        color: green;
      }

      .neutralSentiment {
        color: yellow;
      }

      .negativeSentiment {
        color: red;
      }
    </style>
  </head>
<body>
  <p>
    Original Text:
  </p>
  <p>
    <textarea id="textareaOriginal" rows="50" cols="100">
      <%=originalText %>
    </textarea>
  </p>
  <p>
    Normalized Text (spell checked plus with contractions expanded):
  </p>
  <p>
      <textarea id="textareaSpellChecked" rows="50" cols="100">
        <%=normalizedText %>
      </textarea>
  </p>
  <p>
    Negative Words:
  </p>
  <p>
      <ul>
        <% negativeTextInstances.forEach(function(negativeTextInstance) { %>  
        <li>
          Sentence <%=negativeTextInstance.sentenceIndex%> 
            [<%=negativeTextInstance.sentence%>], 
          word <%=negativeTextInstance.wordIndex%> 
            [<%=negativeTextInstance.word%>] is a flagged word.
        </li>    
        <% }); %>
      </ul>
        
      </p>
  <p>
    Sentiment (Afinn Model):
  </p>
  <p class="sentiment <%= (afinnSentiment.sentiment == "Positive" ? "positiveSentiment" : (afinnSentiment.sentiment == "Neutral" ? "neutralSentiment" : (afinnSentiment.sentiment == "Negative" ? "negativeSentiment" : ""))) %>">
    <% if (afinnSentiment.sentiment == "Positive") {%>
        :-)
    <% } else if (afinnSentiment.sentiment == "Neutral") { %>
        :-\
    <% } else if (afinnSentiment.sentiment == "Negative") { %>
        :-(
    <% } %>
    &nbsp;Sentence <%=afinnSentiment.sentenceIndex%> [<%=afinnSentiment.sentence %>] &nbsp; Score: <%=afinnSentiment.sentenceScore%>
  </p>
  <p>
    Sentiment (Senticon Model):
  </p>
  <p class="sentiment <%= (senticonSentiment.sentiment == "Positive" ? "positiveSentiment" : (senticonSentiment.sentiment == "Neutral" ? "neutralSentiment" : (senticonSentiment.sentiment == "Negative" ? "negativeSentiment" : ""))) %>">
    <% if (senticonSentiment.sentiment == "Positive") {%>
        :-)
    <% } else if (senticonSentiment.sentiment == "Neutral") { %>
        :-\
    <% } else if (senticonSentiment.sentiment == "Negative") { %>
        :-(
    <% } %>
    &nbsp;Sentence <%=senticonSentiment.sentenceIndex%> [<%=senticonSentiment.sentence %>] &nbsp; Score: <%=senticonSentiment.sentenceScore%>
  </p>
  <p>
    Sentiment (Pattern Model):
  </p>
  <p class="sentiment <%= (patternSentiment.sentiment == "Positive" ? "positiveSentiment" : (patternSentiment.sentiment == "Neutral" ? "neutralSentiment" : (patternSentiment.sentiment == "Negative" ? "negativeSentiment" : ""))) %>">
    <% if (patternSentiment.sentiment == "Positive") {%>
        :-)
    <% } else if (patternSentiment.sentiment == "Neutral") { %>
        :-\
    <% } else if (patternSentiment.sentiment == "Negative") { %>
        :-(
    <% } %>
    &nbsp;Sentence <%=patternSentiment.sentenceIndex%> [<%=patternSentiment.sentence %>] &nbsp; Score: <%=patternSentiment.sentenceScore%>
  </p>
  <p>
    <% if (emailSent) { %>
      E-mail notification sent.
    <% } %>
  </p>
  <p>
    <button type="button" onclick="location.href='/';"><i class="material-icons left">arrow_back</i>Back</button>
  </p>
  </body>
  </html>